.card-container {
    width: 350px;
}

.storages-container {
    padding: 24px;
    min-height: 360px;
}

.gutter-row {
    padding: 8px 0;
    background: #00a0e9;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .storages-container {
        padding: 5px;
    }
}