.headerBar {
    color: #ffffff;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1001;
    padding: 0;
    /* background: #ffffff !important; */
}

.headerLogo {
    opacity: 1;
    padding: 16px 36px;
    background: none;
    border: none;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    color: #ffffff;
    margin-top: -55px;
    margin-left: 75px;
    margin-bottom: 0px;
}

.headerLogo:after,
.headerLogo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #ffffff;
    transition: transform 0.2s;
}

.headerLogo:after {
    transform: translate(3px, 3px);
}

.headerLogo:before {
    transform: translate(-3px, -3px);
}

.headerLogo:hover:after,
.headerLogo:hover:before {
    transform: translate(0);
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .headerBar {
        display: block;
    }
}