.component-container {
    margin-top: 0px;
}

.page-content {
    padding: 24px;
    min-height: 360px,
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .component-container {
        margin-top: 60px;
    }
    .page-content {
        padding: 0px;
    }
}

